In [7]:
# assign multiple values
x = y = z = 4
print(x,y,z)

x, y, z = 1, 2, 3
print(x,y,z)

# swap variables
x, y = y, x
print("Result of swap:",x,y)

# unpacking
t = (4,5,6)
print(type(t))
x, y, z = t
print(x,y,z)

4 4 4
1 2 3
Result of swap: 2 1
<class 'tuple'>
4 5 6

In [13]:
# global variables
def func1():
    global x
    x = "global"

x = 4
print(x)
func1()
print(x)

def func2():
    global x
    x = 6

x = 5
print(x)
func2()
print(x)

4
global
5
6

In [4]:
# strings

# multiline
a = """abc,
  def"""

print(a+"\n")

# test
print("bc," not in a,"\n")

# slicing
print(a[2:-1],"\n")

# formatting
s = "a={1}, b={0}"
print(s.format(2,3))

abc,
  def

False

c,
  de

a=3, b=2

In [13]:
# boolean
a=2
print(isinstance(a,int))

print(bool(""))

# operators
b=a
print(a is not b)

True
False
False

In [24]:
# if
a = 2
b = 3

if a>b:
    print("greater")
elif a==b:
    print("equal")
else:
    print("less")
    
print("greater") if a>b else print("equal or less")

print("greater") if a>b else print("equal") if a==b else print("less")

less
equal or less
less

In [27]:
# loops
i=1
while i<5:
    print(i)
    i+=1
else:
    print("we have reached {}".format(5))

1
2
3
4
we have reached 5

In [12]:
# functions
def add(*args):
    print(type(args))
    return sum(args)

print(add(2,4,3),"\n")

def subtract(a,b=0):
    return a-b

print(subtract(b=2,a=1),"\n")
print(subtract(1),"\n")

def name(**kwargs):
    print(kwargs)

name(first="John",last="Dow")
print()

<class 'tuple'>
9

-1

1

{'first': 'John', 'last': 'Dow'}

In [28]:
# recursion
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [14]:
# lambda
x = lambda a,b: a*b
print(x(2,3))

def func(n):
    return lambda a: n*a

doubler = func(2)
print(doubler(10))

6
20

In [23]:
# class
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def introduce(self):
        print("Name: {}, age: {}".format(self.name,self.age))
        
p1 = Person(age=45,name="John Doe")
p1.introduce()

Name: John Doe, age: 45